<section class="section-users">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
            <mat-card fxFlex="25%" fxFlex.lt-md="70%" *ngFor="let user of users$ | async" [routerLink]="['/user-detail', user.id]">
                <mat-card-header>
                    <mat-icon mat-card-avatar mat-list-icon>account_box</mat-icon>
                    <mat-card-title>{{user.username}}</mat-card-title>
                    <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </div>
    </div>
</section>