<section class="user-detail">
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30%" fxFlex.lt-md="1 1 auto" *ngIf="user$ | async as user">

            <img src="https://www.w3schools.com/css/paris.jpg" alt="Paris" width="300" height="300" style="border-radius: 25%;margin-top: 20px;">

            <p>
                <mat-icon>face</mat-icon>{{user.name}}
            </p>

            <p>
                <mat-icon>account_box</mat-icon>{{user.username}}
            </p>

            <p>
                <mat-icon>mail_outline</mat-icon>{{user.email}}
            </p>

            <p>
                <mat-icon>call</mat-icon>{{user.phone}}
            </p>

            <p>
                <mat-icon>web</mat-icon>{{user.website}}
            </p>
            
            <p>
                <mat-icon>person_pin_circle</mat-icon>{{user.address.city}} ,{{user.address.street}}
            </p>

        </div>


        <div fxFlex fxFlex.lt-md="1 1 auto">
            <posts-list [posts]="posts$ | async"></posts-list>
        </div>

    </div>

</section>